.header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 50px;
    background-color: #1e3685;
    color: white;
}

input {
    height: 20px;
    align-self: center;
    border: none !important;
    outline: 0 !important;
    border-radius: 5px;
}

button {
    width: 5%;
    border: none;
    color: white;
    background-color: #1e3685;
    height: 40px;
    align-self: center;
}

button:hover {
    height: 50px;
    background-color: blue;
}

button:active,
button:focus {
    outline: none;
}

